body {
  background: rgb(219, 238, 221);
}

p {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 21px;
  line-height: 1.85;
  max-width: 728px;
  margin: inherit auto;
}

em {
  background: white;
  font-style: normal;
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
  color: royalblue;
}

.footnote * {
  font-size: 1rem;
  line-height: 1.25;
  font-family: inherit;
}

tt {
  font-family: "Consolas", "Courier New", Courier, monospace;
  background: #18181899;
  color: white;
  display: inline-block;
  padding: 0 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border-radius: 3px;
}

tt i {
  font-style: normal;
  font-family: "Courier New", Courier, monospace;
  display: inline-block;
  padding: 0 10px;
  background: #555555;
  border-radius: 5px;
}

tt i:last-of-type {
  margin-bottom: 10px;
}
