body {
  background: rgb(219, 238, 221);
}

p {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 21px;
  line-height: 1.85;
  max-width: 728px;
  margin: inherit auto;
}

em {
  background: white;
  font-style: normal;
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
}

.footnote * {
  font-size: 1rem;
  line-height: 1.25;
  font-family: inherit;
}
